<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <div class="logo">
    <ion-icon name="person-circle-sharp"></ion-icon>
  </div>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="login()" color="primary" expand="block">
          <ion-icon name="enter-outline"></ion-icon>Se connecter
        </ion-button>
        <!-- [routerLink]="['/forgot-password']" -->
        <a  class="small-text">mot de passe oublié?</a><br>
        <a [routerLink]="['/register']" class="small-text">s'inscrire</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

